html,body {
  -webkit-font-smoothing: auto;
  .container {
    width: 960px;
    display: block;
    margin: 0 auto;
  }
  .line {
    display: block;
    background: #f0f0f0;
    height: 1px;
    margin: 15px auto;
    width: 90%;
  }
}