html,body {
  color: #262626;
  -webkit-font-smoothing: auto;
  .container {
    width: 960px;
    display: block;
    margin: 0 auto;
  }
  .layout {
    min-height: 900px;
  }
  .line {
    display: block;
    background: #f0f0f0;
    height: 1px;
    margin: 15px auto;
    width: 100%;
  }

  .ivu-message-notice {
    transition: height 1s ease-in-out,padding 1s ease-in-out;
    .ivu-message-notice-content {
      padding: 0;
      font-size: 14px;
      .ivu-message-custom-content {
        color: #fff;
        padding: 16px 32px;
        border-radius: 3px;
        .ivu-icon {
          color: #fff;
          font-size: 20px;
          vertical-align: -2px;
        }
      }
      .ivu-message-error {
        background: #FF4040;
      }
      .ivu-message-success {
        background: #19be6b;
      }
      .ivu-message-warning {
        background: #f90;
      }
      .ivu-message-info {
        background: #57a3f3;
      }
    }
  }
  .ivu-input,input,ivu-select-selection {
    box-shadow: none !important;
  }
  .spin-icon-load{
    animation: ani-spin 1s linear infinite;
  }
  @keyframes ani-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
  }
  .spin-col{
    height: 100px;
    position: relative;
    border: 1px solid #eee;
  }
  .article-quill {
    padding: 0 0 200px;
    .ql-toolbar {
      padding: 0;
      border: none;
      border-top: 1px solid #e7eaf1;
      margin-bottom: 30px;
      .ql-formats {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #e7eaf1;
        button {
          width: 32px;
          height: 32px;
          padding: 5px;
          margin: 7px 3px 0px;
          .ql-stroke {
            stroke: #8590a6;
          }
          .ql-fill {
            fill: #8590a6;
          }
          &:hover {
            background: #f6f7f8;
          }
        }
        &:last-child {
          border-right: none;
        }
        .ql-active {
          .ql-stroke {
            stroke: #0f88eb;
          }
          .ql-fill {
            fill: #0f88eb;
          }
        }
      }
    }
    .ql-container {
      border: none;
      .ql-editor {
        color: #262626;
        font-size: 16px;
        blockquote {
          margin: 20px 0;
          background-color: #f5f8fc;
          padding: 1rem;
          color: #8796A8;
          border-left: none;
          overflow-y: auto;
          font-size: 14px;
          line-height: 26px;
          font-family: Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
        }
        p {
          line-height: 26px;
          margin: 0 0 .75em;
        }
        .ql-syntax {
          display: block;
          white-space: pre;
          line-height: 28px;
          background: #f6f6f6;
          color: #262626;
          margin: 1em 0;
          padding: 16px;
          font-size: 14px;
          border-radius: 6px;
          overflow-y: auto;
          font-family: Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
        }
        h1,h2,h3,h4,h5,h7 {
          margin: 25px auto;
        }
        code {
          line-height: 28px;
          background: #f6f6f6;
          color: #262626 !important;
          padding: 6px 8px;
          white-space: pre;
          overflow-y: auto;
          border-radius: 3px;
          font-size: 14px;
          font-family: Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
        }
        img {
          display: block;
          margin: 25px auto;
        }
        ul {
          li {
            margin: 10px auto;
          }
        }
      }
      .ql-blank::before {
        color: #BFBEC9;
        font-style: inherit;
        font-size: 16px;
      }
    }
  }

  .profile_articles {
    margin: 25px auto;
    li {
      position: relative;
      width: 100%;
      margin: 0 0 17px;
      padding: 0 2px 17px 0;
      border-bottom: 1px solid #f0f0f0;
      word-wrap: break-word;
      .content {
        .author {
          margin-bottom: 14px;
          font-size: 13px;
          .ivu-avatar {
            margin-right: 5px;
          }
          .info {
            display: inline-block;
            vertical-align: middle;
            .nickname {
              color: #262626;
              vertical-align: middle;
            }
            .time {
              display: inline-block;
              padding-left: 3px;
              color: #969696;
              vertical-align: middle;
            }
          }
        }
        .title {
          color: #262626;
          margin: -7px 0 4px;
          display: inherit;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.5;
        }
        .abstract {
          margin:10px auto;
          font-size: 13px;
          line-height: 24px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: #262626;
        }
        .meta {
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
          padding-top: 10px;
          a {
            margin-right: 10px;
            color: #b4b4b4;
            font-size: 13px;
            .ivu-icon {
              vertical-align: -1px;
              font-size: 16px;
              margin-right: 5px;
            }
          }
          .destroy {
            display: none;
          }
          .topic {
            color: #ec6149;
            background-color: rgba(236,97,73,.05);
            border-color: #ec6149;
            display: inline-block;
            padding: 3px 6px;
            margin-top: -1px;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: -5px;
            white-space: nowrap;
            line-height: 1;
            vertical-align: middle;
            border: 1px solid #ec6149;
            border-radius: 3px;
          }
        }
        &:hover {
          .meta {
            .destroy {
              display: inline-block;
              &:hover {
                color: #787878;
              }
            }
          }
        }
      }
    }
    .have-img {
      min-height: 140px;
      .wrap-img {
        position: absolute;
        top: 50%;
        margin-top: -68px;
        right: 0;
        width: 150px;
        height: 120px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 4px;
          border: 1px solid #f0f0f0;
        }
      }
      .content {
        padding-right: 160px;
      }
    }
    .end {
      text-align: center;
      border-bottom: none;
      .ivu-btn {
        color: #969696;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  .article-input {
    height: inherit;
    width: 100%;
    position: relative;
    margin: 25px 0px 35px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    .ivu-input {
      color: #262626;
      resize: none;
      min-height: 72px;
      display: block;
      width: 100%;
      font-size: 32px;
      line-height: 32px;
      font-weight: 600;
      box-shadow: none;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      outline: none;
    }
  }

  .ivu-form-item-required .ivu-form-item-label:before {
    display: none !important;
  }
}