html,body {
  color: #262626;
  -webkit-font-smoothing: auto;
  .container {
    width: 960px;
    display: block;
    margin: 0 auto;
  }
  .line {
    display: block;
    background: #f0f0f0;
    height: 1px;
    margin: 15px auto;
    width: 100%;
  }

  .ivu-message-notice {
    transition: height 1s ease-in-out,padding 1s ease-in-out;
    .ivu-message-notice-content {
      padding: 0;
      font-size: 14px;
      .ivu-message-custom-content {
        color: #fff;
        padding: 16px 32px;
        border-radius: 3px;
        .ivu-icon {
          color: #fff;
          font-size: 20px;
          vertical-align: -2px;
        }
      }
      .ivu-message-error {
        background: #FF4040;
      }
      .ivu-message-success {
        background: #19be6b;
      }
      .ivu-message-warning {
        background: #f90;
      }
      .ivu-message-info {
        background: #57a3f3;
      }
    }
  }
  .ivu-input {
    box-shadow: none !important;
  }
  .spin-icon-load{
    animation: ani-spin 1s linear infinite;
  }
  @keyframes ani-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
  }
  .spin-col{
    height: 100px;
    position: relative;
    border: 1px solid #eee;
  }
  .article-quill {
    padding: 0 0 200px;
    .ql-toolbar {
      padding: 0;
      border: none;
      border-top: 1px solid #e7eaf1;
      margin-bottom: 30px;
      .ql-formats {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #e7eaf1;
        button {
          width: 32px;
          height: 32px;
          padding: 5px;
          margin: 7px 3px 0px;
          .ql-stroke {
            stroke: #8590a6;
          }
          .ql-fill {
            fill: #8590a6;
          }
          &:hover {
            background: #f6f7f8;
          }
        }
        &:last-child {
          border-right: none;
        }
        .ql-active {
          .ql-stroke {
            stroke: #0f88eb;
          }
          .ql-fill {
            fill: #0f88eb;
          }
        }
      }
    }
    .ql-container {
      border: none;
      .ql-editor {
        color: #262626;
        font-size: 16px;
        blockquote {
          margin: 20px 0;
          background-color: #f5f8fc;
          padding: 1rem;
          color: #8796A8;
          border-left: none;
          overflow-y: auto;
          font-size: 14px;
          line-height: 26px;
          font-family: Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
        }
        p {
          line-height: 26px;
          margin: 0 0 .75em;
        }
        .ql-syntax {
          display: block;
          white-space: pre;
          line-height: 28px;
          background: #f6f6f6;
          color: #262626;
          margin: 1em 0;
          padding: 16px;
          font-size: 14px;
          border-radius: 6px;
          overflow-y: auto;
          font-family: Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
        }
        h1,h2,h3,h4,h5,h7 {
          margin: 25px auto;
        }
        code {
          line-height: 28px;
          background: #f6f6f6;
          color: #262626 !important;
          padding: 6px 8px;
          white-space: pre;
          overflow-y: auto;
          border-radius: 3px;
          font-size: 14px;
          font-family: Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
        }
        img {
          display: block;
          margin: 25px auto;
        }
        ul {
          li {
            margin: 10px auto;
          }
        }
      }
      .ql-blank::before {
        color: #BFBEC9;
        font-style: inherit;
        font-size: 16px;
      }
    }
  }

  .article-input {
    height: inherit;
    width: 100%;
    position: relative;
    margin: 25px 0px 35px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    .ivu-input {
      color: #262626;
      resize: none;
      min-height: 72px;
      display: block;
      width: 100%;
      font-size: 32px;
      line-height: 32px;
      font-weight: 600;
      box-shadow: none;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      outline: none;
    }
  }

  .ivu-form-item-required .ivu-form-item-label:before {
    display: none !important;
  }
}